html {
	box-sizing: border-box;
	background-image: url(seafood.jpg)
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img {
	overflow: hidden;
	width: 3000px;

  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}


*,
*::before,
*::after {
	box-sizing: inherit;
}
svg {
	fill: #eeba0e;
	background: rgba(3, 14, 168, 0.89);
	padding: 60px;
	border-radius: 50%;
	width: 500px;
	margin-bottom: 70px;
}
.wrapper {
	padding: 20px;
	content: inherit;

	width: 500px;
	height: 300px;

	background: rgba(237, 241, 209, 0.95);
	box-shadow: 0 0 0 10px rgba(0,0,0,);
}
h2 {
	text-align: center;
	margin: 0;
	font-weight: 200;
}
.plates {
	margin: 0;
	padding: 0;
	text-align: left;
	list-style: none;
}
.plates li {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding: 10px 0;
	font-weight: 100;
	display: flex;
}
.plates label {
	flex: 1;
	cursor: pointer;
}
.plates input {
	display: none;
}
.plates input + label::before {
	content: "⬜";
	margin-right: 10px;
}
.plates input:checked + label::before {
	content: "🌮";
}
.plates input:checked + label span {
	text-decoration: line-through;
	color: rgba(0,0,0,0.5);
}
.add-items {
	margin-top: 20px;

}
.add-items input {
	padding: 10px;
	outline: 0;
	border: 1px solid rgba(0,0,0,0.1);
}